# Core Web Framework
fastapi
uvicorn[standard]
python-multipart

# Data & Database
alembic
psycopg2-binary
pydantic
sqlalchemy

# OCR & Image Processing
rapidocr_onnxruntime
numpy
opencv-python-headless
Pillow

# Exportación de reportes
openpyxl
reportlab

# AI Services
groq

# Utilities
python-dotenv
httpx
beautifulsoup4
requests
pyinstaller
pytest